<header>
    <div class="header-content">
        <div class="header-content-inner">
            <style>
                .primaryColor
                {
                    color: #F05F40;
                }
            </style>
            <h1 style="text-transform: none; font-weight:normal;"><span>Tipografia</span>&nbsp;<span class="primaryColor"><b>Pelusi</b></span></h1>
            
            <hr>
            <p>Testo secondario</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">bottone</a>
        </div>
    </div>
</header>
